yrnwbp_1008/mozi1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="mozi1">
  <xs:complexType>
    <xs:sequence>
    	
		      <xs:element name="film"  >
		      	<xs:attribute name="id" type="xs:int" use="required"/>
		      </xs:element>
		      <xs:element name="rendezo" type="xs:string" >
		      		
		      </xs:element>
		      <xs:element name="szinesz" type="xs:string" />
		      <xs:element name="iro" type="xs:string" />
      	
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
</xs:element>
</xs:schema>