yrnwbp_1001/mozi1.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT film (rendezo+,szinesz,iro)>
<!ELEMENT rendezo (#PCDATA)>
<!ELEMENT szinesz (#PCDATA)>
<!ELEMENT iro (#PCDATA)>

<!ATTLIST rendezo id CDATA #REQUIRED nev CDATA #REQUIRED>
<!ATTLIST film id CDATA #REQUIRED mufaj (horror|akcio|vigjatek|sci-fi) "horror">
<!ATTLIST szinesz id CDATA #REQUIRED nev CDATA #REQUIRED>
<!ATTLIST iro id CDATA #REQUIRED >