yrnwbp_0924/iskola.dtd

<!DOCTYPE iskola
[
<!ELEMENT iskola (tanar, tantargy)>
<!ELEMENT tanar (nev, szak)>
<!ATTLIST tanar kod ID #REQUIRED>
<!ELEMENT tantargy (tnev, osztaly)>
<!ATTLIST tantargy oktato IDREF #REQUIRED>
<!ELEMENT nev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ELEMENT tnev (#PCDATA)>
<!ELEMENT osztaly (#PCDATA)>
]>